# Backend API Endpoint (e.g. Render backend URL in production)
VITE_API_URL=https://campus-canvas-backend.onrender.com/api

# Student Showcase URL
VITE_FRONTEND_URL=https://campus-canvas-chi.vercel.app
